<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>云盘文件管理</title>
<!--    <link rel="icon" th:href="@{/ico/title.ico}" type="image/x-icon"/>-->
<!--    <link rel="bookmark" th:href="@{/ico/title.ico}" type="image/x-icon"/>-->
    <link rel="stylesheet" th:href="@{/css/indexstyle.css}">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
</head>
<body>
<!--左侧导航栏-->
<div id="curtain"></div>
<div id="signoutwin" class="layui-anim layui-anim-down">
    <p class="outtitle">退出登录</p>
    <p class="outtip">确定要退出网盘吗?</p>
    <form class="btnchoose" th:action="@{/user/signout}" method="post">
        <a class="outbtn" id="cancelout">取消</a>
        <input class="outbtn" type="submit" value="退出">
    </form>
</div>

<div id="mainwin" class="left-navigation">
    <div class="logo-title">
        <h3>
<!--            <img th:src="@{/img/logo.png}" height="24" width="108"/>-->
        </h3>
    </div>
    <ul class="topul">
        <li class="navigation" onclick="onclick01(0)">
            <a class="navigationlink" th:href="@{/files/findallfiles}" target="showoff">
                <span class="txtt"><i class="layui-icon layui-icon-file" style="font-size: 20px"></i></span>
                <span class="txtd">文件</span>
            </a>
        </li>
        <li class="navigation" onclick="onclick01(1)">
            <a class="navigationlink" th:href="@{/files/findallimages}" target="showoff">
                <span class="txtt"><i class="layui-icon layui-icon-picture" style="font-size: 20px"></i></span>
                <span class="txtd">相册</span>
            </a>
        </li>
        <li class="navigation" onclick="onclick01(2)">
            <a class="navigationlink" th:href="@{/files/findallfavorites}" target="showoff">
                <span class="txtt"><i class="layui-icon layui-icon-star" style="font-size: 20px"></i></span>
                <span class="txtd">收藏夹</span>
            </a>
        </li>
        <li class="navigation" onclick="onclick01(3)">
            <a class="navigationlink" th:href="@{/files/findallpublics}" target="showoff">
                <span class="txtt"><i class="layui-icon layui-icon-website" style="font-size: 20px"></i></span>
                <span class="txtd">共享文件</span>
            </a>
        </li>
        <li class="navigation" onclick="onclick01(4)">
            <a class="navigationlink" th:href="@{/files/findallshares}" target="showoff">
                <span class="txtt"><i class="layui-icon layui-icon-share" style="font-size: 20px"></i></span>
                <span class="txtd">我的分享</span>
            </a>
        </li>
        <li class="navigation" onclick="onclick01(5)">
            <a class="navigationlink" th:href="@{/files/findallrecycles}" target="showoff">
                <span class="txtt"><i class="layui-icon layui-icon-delete" style="font-size: 20px"></i></span>
                <span class="txtd">回收站</span>
            </a>
        </li>
    </ul>
    <div id="setpage" class="layui-anim layui-anim-scale">
        <ul>
            <div>
                <p><img id="avatar1" th:src="@{/img/tou.jpg}" class="layui-nav-img"></p>
                <p id="nickname1" class="nickname"></p>
            </div>
            <li><a th:href="@{/user/personinfo}" target="showoff">个人中心</a></li>
            <li><a href="">体验测试版</a></li>
            <li class="line01"></li>
            <li><a href="">帮助与反馈</a></li>
            <div id="privacybtn" class="privacybtn layui-anim layui-anim-scale">
                <a href="">隐私条款</a>
                <a href="">用户协议</a>
            </div>
            <li id="aboutprivacy"><a href="">关于</a></li>
            <li class="line01"></li>
            <li id="signout"><a>退出登录</a></li>
        </ul>
    </div>

    <div class="left-foot">
        <div class="capacity">
            <span id="usespace" style="padding-left: 24px;">0GB</span>
            <span>/</span>
            <span id="space">0GB</span>
            <div class="capacity-number">
                <div id="usepoint" style="height: 100%;width: 0%;background-color: #796AEE"></div>
            </div>
        </div>
        <div class="line"></div>
        <div id="personinfo" class="personinfo">
            <div class="lefttou" style="width: 160px">
                <p><img id="avatar" src="" class="layui-nav-img"></p>
                <p id="nickname" class="nickname"></p>
            </div>
            <div class="rightbtn"><i id="setbtn" class="layui-icon layui-icon-more"></i></div>
        </div>
    </div>
</div>
<div class="right-main">
    <iframe name="showoff" th:src="@{/files/findallfiles}" overflow="no" scrolling="no" frameborder="0"></iframe>
</div>
<script th:src="@{/js/jquery-3.6.0.js}"></script>
<script th:src="@{/js/index.js}"></script>
<script th:src="@{/js/ajaxindex.js}"></script>
<script th:src="@{/layui/layui.js}"></script>
</body>
</html>