<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>阿里云盘</title>
    <link rel="icon" th:href="@{/ico/title.ico}" type="image/x-icon"/>
    <link rel="bookmark" th:href="@{/ico/title.ico}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/css/indexstyle.css}">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">

</head>
<body>
<!--左侧导航栏-->
<div id="curtain"></div>
<div id="signoutwin" class="layui-anim layui-anim-down">
    <p class="outtitle">退出登录</p>
    <p class="outtip">确定要退出网盘吗?</p>
    <form class="btnchoose" th:action="@{/user/signout}" method="post">
        <a class="outbtn" id="cancelout">取消</a>
        <input class="outbtn" type="submit" value="退出">
    </form>
</div>

<div id="mainwin" class="left-navigation">
    <div class="logo-title">
        <h3>
<!--            <img th:src="@{/img/logo.png}" height="24" width="108"/>-->
        </h3>
    </div>
    <ul class="topul">
        <li class="navigation" onclick="onclick01(3)">
            <a class="navigationlink" th:href="@{/files/ykfindallpublicfiles}" target="showoff">
                <span class="txtt"><i class="layui-icon layui-icon-website" style="font-size: 20px"></i></span>
                <span class="txtd">共享文件</span>
            </a>
        </li>
    </ul>
    <div id="setpage" class="layui-anim layui-anim-scale">
        <ul>
            <div>
                <p><img id="avatar1" th:src="@{/img/tou.jpg}" class="layui-nav-img"></p>
                <p id="nickname1" class="nickname" th:text="'游客'+${ykid}"></p>
            </div>
            <li><a>个人中心</a></li>
            <li><a>体验测试版</a></li>
            <li class="line01"></li>
            <li><a>帮助与反馈</a></li>
            <div id="privacybtn" class="privacybtn layui-anim layui-anim-scale">
                <a>隐私条款</a>
                <a>用户协议</a>
            </div>
            <li id="aboutprivacy"><a href="">关于</a></li>
            <li class="line01"></li>
            <li id="signout"><a>退出登录</a></li>
        </ul>
    </div>

    <div class="left-foot">
        <div class="capacity" style="opacity: 0">
            <span id="usespace" style="padding-left: 24px;"></span>
            <span></span>
            <span id="space"></span>
            <div class="capacity-number">
                <div id="usepoint" style="height: 100%;width: 0%;background-color: #796AEE"></div>
            </div>
        </div>
        <div class="line"></div>
        <div id="personinfo" class="personinfo">
            <div class="lefttou" style="width: 160px">
                <p><img id="avatar" th:src="@{/img/tou.jpg}" class="layui-nav-img"></p>
                <p id="nickname" class="nickname" th:text="'游客'+${ykid}"></p>
            </div>
            <div class="rightbtn"><i id="setbtn" class="layui-icon layui-icon-more"></i></div>
        </div>
    </div>
</div>
<div class="right-main">
    <iframe name="showoff" th:src="@{/files/ykfindallpublicfiles}" overflow="no" scrolling="no" frameborder="0"></iframe>
</div>
<script th:src="@{/js/jquery-3.6.0.js}"></script>
<script th:src="@{/js/index.js}"></script>
<script th:src="@{/layui/layui.js}"></script>
</body>
</html>